.travel-card-container {
    min-height: 30vh;
    width: 65vw;

    padding: 20px;
    gap: 20px;

    display: flex;
    align-items: center;
    margin: 0 auto;

    border-bottom: 2px solid #F5F5F5;
}

.landscape-image {
    height: 25vh;
    width: 25%;
    border-radius: 5px;
}

.location {
    gap: 10px;

    display: flex;
    align-items: center;
}

.country-name {
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 0.17em;

    color: #2B283A;
}

.google-maps-link {
    font-weight: 400;
    font-size: 1.1em;

    color: #918E9B;
}

.location-name {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 70%;

    color: #2B283A;

    margin: 20px 0 50px 0;
}

.travel-date {
    font-weight: 700;
    font-size: 1.1em;
    line-height: 120%;

    color: #2B283A;

    margin: 20px 0;
}

.location-description {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 150%;

    color: #2B283A;
}

@media screen and (max-width: 1129px) {
    .travel-card-container {
        min-height: 30vh;
        width: 80vw;
    }
    
    .landscape-image {
        height: 25vh;
        width: 30%;
        border-radius: 5px;
    }
}

@media screen and (max-width: 830px) {
    .travel-card-container {
        min-height: 30vh;
        width: 100vw;
    }

    .location-name {
        line-height: 100%;
    
        margin: 10px 0 20px 0;
    }
}

@media screen and (max-width: 600px) {
    .country-name {
        font-size: 0.7em;
    }

    .google-maps-link {
        font-size: 0.7em;
    }

    .location-name {
        font-size: 2em;
    }

    .travel-date {
        font-size: 0.7em;
    }

    .location-description {
        font-size: 0.5em;
    }
}